html,
body {
  margin: 20;
  padding: 20;
  background-color: #ffffff;
  background-image: url('https://www.transparenttextures.com/patterns/concrete-wall-3.png');
  display: flex;
  height: 100%;
  min-height: 100%;
  flex-direction: column;
}
