html,
body {
  margin: 20;
  padding: 20;
  background-color: #fff1f0;
  background-image: url('https://www.transparenttextures.com/patterns/60-lines.png');
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  display: flex;
  height: 100%;
  min-height: 100%;
  flex-direction: column;
}

h1 {
  font-size: 6em;
  margin: auto;
  color: rgba(75, 75, 75, 1);
  text-shadow: 0px 1px 1px slategray;
}

h2 {
  font-size: 2em;
  color: rgba(75, 75, 75, 1);
  text-shadow: 0px 1px 1px slategray;
  margin: 20px 0;
}

p {
  margin: 0;
}
